* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
  background: none;
}

.label {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 3px;
}

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #939699;
  text-transform: uppercase;
}

.button {
  background: #4592ff;
  border-radius: 20px;
  padding: 10px 20px;
  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.slider {
  position: relative;
  padding: 90px 0 100px;
  background: #B4D1E0 url("../img/image-064.png") no-repeat center right 15%/contain;
}

.slider__title {
  font-family: 'Roboto Slab',sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  color: #262D33;
  margin: 20px 0 15px;
}

.slider__desk {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  max-width: 335px;
  margin-bottom: 40px;
}

.slider__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.5;
}

.slider__span {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.card__wrapper {
  padding: 60px 46px 80px;
  border-radius: 10px;
}

.card__wrapper--1 {
  background: url("../img/image-016.png") no-repeat center center/cover;
}

.card__title {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  max-width: 220px;
  margin-bottom: 15px;
}

.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato';
  color: #4B5157;
  max-width: 175px;
  margin-bottom: 25px;
}
